<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log"           
           filter="Warning"
           xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      <add name="Rolling File"
           fileName="C:\Logs\[company]_[app]_[env].log"          
           xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      <add name="Email Log"                                 
           subjectLineEnder="[env]"         
           smtpServer="[smtp]" 
           fromAddress="[fromaddress]"
           filter="Error"
           xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
    </listeners>
  </loggingConfiguration>
</configuration>